// add this to theme color functions
// https://getbootstrap.com/docs/4.0/getting-started/theming/#functions
$primary: map-get($theme-colors, 'primary');
$enable-rounded: false;
$enable-deprecation-messages: true;
$enable-important-utilities: false;

$body-bg: map-get($theme-colors, 'bodybg');
$body-color: map-get($theme-colors, 'text');
$grid-gutter-width: 30px;

$font-size-base: 1rem;
$font-family-sans-serif: 'Raleway', sans-serif;
$headings-font-family: 'Raleway', sans-serif;
$font-weight-lighter:         500;
$font-weight-light:           500;
$font-weight-normal:          500;
$font-weight-bold:            700;
$font-weight-bolder:          700;
$headings-font-weight:        700;

$font-family-brandheader: 'Erica One', cursive;
$font-weight-brandheader: 400;

$font-size-brandheader-xs: 40px;
$font-size-brandheader-sm: 49px;
$font-size-brandheader-md: 67px;
$font-size-brandheader-lg: 89px;
$font-size-brandheader-xl: 109px;
$font-size-brandheader-xxl: 126px;

// fonts
$dark: map-get($theme-colors, 'text');
$blockquote-font-size: $font-size-base;
$link-color: $primary;
$link-hover-color: shade-color($link-color, 10%);

// tables
$table-border-color: map-get($theme-colors, 'bodybg');

// cards
$card-cap-bg: rgba($primary, 0.3);
$card-bg: shade-color(map-get($theme-colors, 'contentbg'), 3%);

// carousel
$carousel-control-width: 15%;
$carousel-control-opacity: 0.5;
$carousel-indicator-width: 20px;
$carousel-indicator-height: 9px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-active-bg: map-get($theme-colors, 'primary');
$carousel-caption-width: 70%;
$carousel-caption-color: map-get($theme-colors, 'primary');
$carousel-control-icon-width: 20px;

// pagination
$pagination-color: tint-color(map-get($theme-colors, 'contentbg'), 20%);
$pagination-bg: map-get($theme-colors, 'primary');
$pagination-border-color: rgba(map-get($theme-colors, 'text'), 0.2);
$pagination-hover-color: map-get($theme-colors, 'primary');
$pagination-hover-bg: tint-color(map-get($theme-colors, 'contentbg'), 20%);
$pagination-hover-border-color: rgba(map-get($theme-colors, 'text'), 0.2);
$pagination-active-color: tint-color(map-get($theme-colors, 'contentbg'), 20%);
$pagination-active-bg: map-get($theme-colors, 'primary');
$pagination-active-border-color: rgba(map-get($theme-colors, 'text'), 0.2);
$pagination-disabled-bg: map-get($theme-colors, 'primary');
$pagination-disabled-border-color: rgba(map-get($theme-colors, 'text'), 0.2);
$pagination-disabled-color: tint-color(map-get($theme-colors, 'contentbg'), 40%);

// progress bars
$progress-bg: map-get($theme-colors, 'contentbg');
$progress-bar-color: map-get($theme-colors, 'text');
$progress-bar-bg: map-get($theme-colors, 'primary');
$progress-height: 5px;

// list groups
$list-group-bg: transparent;

// brandcolors
$brandcolors: (
  'facebook': #3b5998,
  'messenger': #0084ff,
  'twitter': #1da1f2,
  'whatsapp': #25d366,
  'snapchat': #fffc00
);

$header-image: 'metropolis.jpg';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
