/* stylelint-disable at-rule-no-unknown */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-font-feature-settings: 'onum', 'tnum', 'salt', 'calt', 'liga', 'dlig', 'clig', 'hlig', 'zero';
  font-feature-settings: 'onum', 'tnum', 'salt', 'calt', 'liga', 'dlig', 'clig', 'hlig', 'zero';
}

::-moz-selection,
::selection {
  background-color: map-get($theme-colors, 'primary');
  color: map-get($theme-colors, 'contentbg');
}

#content {
  background-color: map-get($theme-colors, 'contentbg');

  @extend .container;
  @extend .pt-3;

  #contentcolumn {
    @extend .row;
  }
}

h1 {
  text-transform: uppercase;
}

blockquote {
  @extend .blockquote;

  p:last-child {
    margin-bottom: 0;
  }
}
