{{ partial "head/metadata.html" . }}
{{ partial "head/open_graph.html" . }}
{{ partial "head/twitter.html" . }}
{{ partialCached "head/favicon.html" . }}   

{{ with partialCached "head/css.html" . }}
    <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9026195124322857",
    enable_page_level_ads: true
  });
</script>
