{{ $js1 := resources.Get "js/libs/jquery.js" }}
{{ $js2 := resources.Get "js/ready.js" }}
{{ $js3 := resources.Get "js/libs/moment.js" }}
{{ $js4 := resources.Get "js/libs/instantsearch.js" }}
{{ $js5 := resources.Get "js/youtube.js" }}
{{ $js6 := resources.Get "js/progress-indicator.js" }}
{{ $js7 := resources.Get "js/search.js" }}

{{ $js8 := resources.Get "js/script.js" }}

{{ $jsLocal := resources.Get (printf "%s/%s" "js" ($.Param "dnb.javascript")) }}
{{ $opts := dict "noComments" true "compact" true "minified" true }}
{{- $transpiled := $js8 | babel $opts -}}
{{ $js := slice $js1 $js2 $js3 $js4 $js5 $js6 $js7 $transpiled $jsLocal | resources.Concat "script.js" | resources.Minify | resources.Fingerprint "sha384" }}

{{ return $js }}
