{{ $js0 := resources.Get "js/libs/jquery.js" }}
{{ $js1 := resources.Get "js/libs/popper.js" }}
{{ $js11 := resources.Get "js/ready.js" }}
{{ $js10 := resources.Get "js/cookieconsent.min.js" }}
{{ $js2 := resources.Get "js/libs/bootstrap.js" }}
{{ $js32 := resources.Get "js/libs/de.js" }}
{{ $js31 := resources.Get "js/libs/moment.js" }}
{{ $js4 := resources.Get "js/libs/instantsearch.js" }}
{{ $js7 := resources.Get "js/progress-indicator.js" }}
{{ $js8 := resources.Get "js/search.js" }}
{{ $js9 := resources.Get "js/script.js" }}
{{ $jsLocal := resources.Get (printf "%s/%s" "js" ($.Param "dnb.javascript")) }}
{{ $opts := dict "noComments" true "compact" true "minified" true }}
{{- $transpiled := resources.Get "js/script.js" | babel $opts -}}
{{ $js := slice $js0 $js11 $js10 $js31 $js4 $js7 $js8 $transpiled $jsLocal | resources.Concat "script.js" | resources.Minify | resources.Fingerprint "sha384" }}

{{ return $js }}
